:root {
    --blue: rgb(15, 14, 42);
    --gradient-colors: rgb(255, 200, 50), rgb(255, 146, 50);

}

html {
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    margin-bottom: 170px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial;
}

strong, .product-name {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial;
}

.header-wrapper {
    position: sticky; 
    top: 0;
    width: 100%;
    text-align: center;
    height: 130px;
    border-image: linear-gradient(90deg, var(--gradient-colors)) 7;
    border-bottom: 15px solid;
    z-index: 10;
}

.header-content {
    width: 100%;
    height: max-content;
    background-color: white;
    padding: 30px 0;
}

.logo {
    height: 60px;
    width: auto;
}

.slider-container {
    height: 600px;
    width: 100%;
}

.slides {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.products {
    width: 100%;
    overflow: auto;
}

.product {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 50px;
}

.product:nth-child(odd) { 
    border-left: 18px solid var(--blue);
}

.product:nth-child(even) {
    border-image: linear-gradient(180deg, var(--gradient-colors)) 8;
    border-left: 18px solid transparent;
}

.product-img {
    height: 180px;
    width: 180px;
}

.product-name {
    font-size: 1.8vh;
}

.product-series {
    font-size: 1.6vh;
}

.arrow {
    transform: rotate(180deg);
    width: 30px;
    fill: rgb(15, 14, 42);
}

footer {
    position: fixed;
    font-size: 1vh;
    left: 0;
    bottom: 0;
    height: 170px;
    width: 100%;
    padding: 20px 0 10px 0;
    background-color: var(--blue);
    color: rgb(133, 133, 167);
    text-align: center;
}
footer > * {
    display: block;
    margin-top: 5px;
}
footer > a {
    font-size: 1.3vh;
    text-decoration: none;
    color: rgb(133, 133, 167);
}